{% extends "base.html" %}

{% block title%}
  All of the different tags we use when wiring our blog posts.
{% endblock title %}

{% block content %}
<main>
  <div class="container">
    <section class="row">
      {% if terms %}
        {% for term in terms %}
          <div class="col-sm-3">
            <p><a class="cta" href="{{ term.permalink | safe }}">{{ term.name }} ({{ term.pages | length }})</a></p>
          </div>
        {% endfor %}
      {% endif %}
    </section>
  </div>
</main>
{% endblock content %}
