:root {
  --pico-primary: #1C7258 !important;
  --pico-primary-background: #1C7258 !important;
  --pico-primary-underline: #1C7258 !important;
  --pico-primary-hover: #009472 !important;
  --pico-primary-hover-background: #009472 !important;
  --pico-spacing: 3rem;
}

article header img {
  width: 100%;
}
