<form action="%s" method="POST">
    <h2>Contact Us</h2>

    <label for="name">Text</label>
    <input type="text" id="name" name="name" placeholder="John Doe" />
    <small>Curabitur consequat lacus at lacus porta finibus.</small>

    <label for="reason">Reason</label>
    <select id="reason" name="reason" required>
        <option value="quote" selected>Request a quote</option>
        <option value="other">Other</option>
    </select>

    <label for="message">Message</label>
    <textarea id="message" name="message" placeholder="I'd like to learn more about how Limeleaf can help!"></textarea>

    <input type="submit" value="Submit" />
</form>