<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light" />

    {% block meta_content %} {% endblock meta_content %}

    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />
    <link rel="icon" type="image/png" href="{{ get_url(path="images/favicon.svg") }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="{{ get_url(path="css/style.css") }}" />
    <script data-goatcounter="https://limeleaf.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    <!-- Calendly badge widget begin -->
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
    <script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/limeleaf/30min', text: '🗓️ Schedule a free project assessment', color: '#1C7258', textColor: '#ffffff', branding: undefined }); }</script>
    <!-- Calendly badge widget end -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>
  <body>
    <header class="home">
      <div class="container">
        <section class="row">
          <div id="logo" class="col-sm-6">
            <a href="{{ get_url(path="@/_index.md") }}" title="Limeleaf logo"><img src="{{ get_url(path="images/logo/limeleaf-logo-L.svg") }}" alt="Limeleaf logo"/></a>
          </div>
          <nav class="col-sm-6">
            <a href="{{ get_url(path="@/services/_index.md") }}" class="link" title="Services">Services</a>
            <a href="{{ get_url(path="@/open-source/_index.md") }}" class="link" title="Open Source">Open Source</a>
            <a href="{{ get_url(path="@/blog/_index.md") }}" class="link" title="Blog">Blog</a>
            <a href="{{ get_url(path="@/members/_index.md") }}" class="link" title="About Limeleaf">About</a>
            <a href="{{ get_url(path="@/contact/_index.md") }}" class="link" title="Contact Us">Contact</a>
          </nav>
        </section>
      </div>
    </header>

    {% block content %} {% endblock content %}

    <footer>
      <div class="container">
          <div class="col-lg-9">
            <p>We would love to chat about your project and how we can help.</p>
            <p>
              Please <a href="{{ get_url(path="@/contact/_index.md") }}">contact us</a> or find us on
              <a href="https://codeberg.org/limeleaf" alt="Gitea" title="Codeberg">Codeberg</a>,
              <a href="https://social.coop/@limeleaf" alt="Mastodon" title="Mastodon">Mastodon</a>,
              <a href="https://opencollective.com/limeleaf-collective" alt="Open Collective" title="Open Collective">Open Collective</a>, 
              <a href="https://www.linkedin.com/company/limeleaf-llc" alt="LinkedIn" title="LinkedIn">LinkedIn</a>, and
              <a href="https://github.com/limeleaf-collective" alt="GitHub" title="GitHub">GitHub</a>.
            </p>
            <p>Copyright 2024 by Limeleaf Worker Collective, LLC</p>
          </div>
      </div>
    </footer>
  </body>
</html>
