<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="description" content="{{ config.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark" />

    <title>{% block title %} {% endblock title %}</title>

    <link rel="icon" type="image/png" href="{{ get_url(path="images/favicon.svg") }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ get_url(path="css/style.css") }}" />
  </head>
  <body>
    <header class="container">
      <nav>
        <ul>
            <li class="logo"><a href="{{ get_url(path="@/_index.md") }}"><img src="{{ get_url(path="images/logo/limeleaf-logo-L.svg") }}" /></a></li>
        </ul>
        <ul>
            <li><a href="{{ get_url(path="@/members/_index.md") }}">About Us</a></li>
            <li><a href="{{ get_url(path="@/services/_index.md") }}">Services</a></li>
            <li><a href="{{ get_url(path="@/blog/_index.md") }}">Blog</a></li>
            <li><a href="{{ get_url(path="@/contact/_index.md") }}">Contact</a></li>
        </ul>
      </nav>
    </header>

    {% block content %} {% endblock content %}

    <footer class="container">
      <p>&copy; {{ now() | date(format="%Y") }} {{ config.title }}</p>
      <nav>
        <a href="https://github.com/limeleaf-collective" alt="GitHub" title="GitHub"><i class="fa fa-github-square" aria-hidden="true"></i></a>
        <a href="https://social.coop/@limeleaf" alt="Mastodon" title="Mastodon"><i class="fa fa-mastodon" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/company/limeleaf-llc" alt="LinkedIn" title="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://opencollective.com/limeleaf-collective" alt="Open Collective" title="Open Collective"><i class="fa fa-open-collective" aria-hidden="true"></i></a>
      </nav>
    </footer>
  </body>
</html>
