{% extends "base.html" %}

{% block meta_content %}
  <title>{{ config.title }}</title>
  <meta property="og:title" content="{{ config.title }}" />
  <meta property="og:description" content="{{ config.description }}" />
  <meta property="og:url" content="https://limeleaf.net" />
  <meta property="og:image" content="https://limeleaf.net/images/logo/limeleaf-logo.jpg" />
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="630"/>
  <meta property="og:type" content="website" />
  <meta name="description" content="{{ config.description }}" />
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="limeleaf.net">
  <meta property="twitter:url" content="https://limeleaf.net">
  <meta name="twitter:title" content="{{ config.title }}">
  <meta name="twitter:description" content="{{ config.description }}">
  <meta name="twitter:image" content="https://limeleaf.net/images/logo/limeleaf-logo.jpg">
{% endblock meta_content %}

{% block content %}
<main class="container">
  <section class="hero-section">
      <div class="row">
          <div class="col-xs-11 col-sm-6">
              <h1 class="home">Your Rust and Go Development Experts</h1>
              <p>We help teams build fast, reliable, maintainable software using modern programming languages.</p>
          </div>
          <div id="hero-image" class="col-sm-5">
              <img src="/images/services/backend-developer.svg"/>
          </div>
      </div>
  </section>

  <section class="home services-section">
      <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4 services consulting">
          <h3 class="service-title">Consulting</h3>
          <p class="service-description">Switching to Rust or Go? Need help with a complex project? From code reviews to infrastructure planning, we'll help you ship better software faster.</p>
          <p><a href="/services/consulting/" class="link">Learn more</a></p>
        </div>
        <div class="col-sm-4 services design">
          <h3 class="service-title">System Design</h3>
          <p class="service-description">We design highly scalable software systems that solve complex problems.</p>
            <p><a href="/services/system-planning-and-architecture/" class="link">Learn more</a></p>
      </div>
      <div class="col-sm-4 services training">
        <h3 class="service-title">Training</h3>
        <p class="service-description">We train Rust and Go engineers at any skill level, virtually or on-site.</p>
          <p><a href="/services/training/" class="link">Learn more</a></p>
      </div>
    </div>
  </div>
  </section>

    <section class="home clients">
        <h2>Some of Our Clients</h2>
        <div class="row">
            <div class="col-xs-4">
                <div class="client-logo">
                    <a href="https://rushdownstudio.com">
                        <img src="{{ get_url(path='images/clients/rushdown-logo.png') }}" alt="Rushdown Studios">
                    </a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="client-logo">
                    <a href="https://pitonlabs.com">
                        <img src="{{ get_url(path='images/clients/piton-labs.png') }}" alt="Piton Labs">
                    </a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="client-logo">
                    <a href="https://rocketscience.gg">
                        <img src="{{ get_url(path='images/clients/rocket-science.svg') }}" alt="Rocket Science Group">
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
