{% extends "base.html" %}

{% block meta_content %}
  <title>{{ config.title }}</title>
  <meta property="og:title" content="{{ config.title }}" />
  <meta property="og:description" content="{{ config.description }}" />
  <meta property="og:url" content="https://limeleaf.io" />
  <meta property="og:image" content="https://limeleaf.io/images/logo/limeleaf-logo.jpg" />
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="630"/>
  <meta property=”og:type” content=”website” />
  <meta name="description" content="{{ config.description }}" />
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="limeleaf.io">
  <meta property="twitter:url" content="https://limeleaf.io">
  <meta name="twitter:title" content="{{ config.title }}">
  <meta name="twitter:description" content="{{ config.description }}">
  <meta name="twitter:image" content="https://limeleaf.io/images/logo/limeleaf-logo.jpg">
{% endblock meta_content %}

{% block content %}
<main>
  <section class="hero">
    <img src="{{ get_url(path=section.extra.feature_photo) }}" alt="{{ section.extra.feature_photo_alt }}" class="hero-bg" />
    <div class="hero-content">
      <h2>{{ section.title }}</h2>
      {{ section.content | safe }}
    </div>
  </section>
  <section class="container grid services-home">
    <div class="grid">
      {% set section = get_section(path="services/_index.md") %}
      {% for page in section.pages %}
      <article>
          <a href="{{ page.permalink }}"><img src="{{ get_url(path=page.extra.icon) }}" alt="{{ page.extra.icon_alt }}" class="icon" /></a>
          <h5><a href="{{ page.permalink }}" title="{{ page.title }}">{{ page.title }}</a></h5>
          {{ page.summary | safe }}
      </article>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock content %}
