{% extends "base.html" %}

{% block meta_content %}
  <title>{{ config.title }}</title>
  <meta property="og:title" content="{{ config.title }}" />
  <meta property="og:description" content="{{ config.description }}" />
  <meta property="og:url" content="https://limeleaf.io" />
  <meta property="og:image" content="https://limeleaf.io/images/logo/limeleaf-logo.png" />
  <meta property=”og:type” content=”website” />
  <meta name="description" content="{{ config.description }}" />
{% endblock meta_content %}

{% block content %}
<main class="container">
  <section class="grid">
    <div>
      <h2>{{ section.title }}</h2>
      {{ section.content | safe }}
    </div>
    <figure>
      <img src="{{ get_url(path=section.extra.feature_photo) }}" alt="{{ section.extra.feature_photo_alt }}" />
    </figure>
  </section>
</main>
{% endblock content %}
