{% extends "base.html" %}

{% block meta_content %}
  <title>{{ page.title}} - {{ config.title }}</title>
  <meta property="og:title" content="{{ page.title }} — {{ config.title }}" />
  {% if page.description %}
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:url" content="https://limeleaf.io" />
  <meta property="og:image" content="https://limeleaf.io/images/logo/limeleaf-logo.jpg" />
  <meta property=”og:type” content=”website” />
  <meta name="description" content="{{ page.description }}" />
  {% endif %}
{% endblock meta_content %}

{% block content %}
<main class="container">
  <section class="grid">
    <article>
        <header>
            <h1>{{ page.title }}</h1>
            {% if page.extra.tagline %}
            <p>{{ page.extra.tagline }}</p>
            {% endif %}
            {% if page.date %}
            <p>
              Posted on <time>{{ page.date | date(format="%B %d, %Y") }}</time>
              {% if page.taxonomies.tags %}
                in
                {% for tag in page.taxonomies.tags %}
                  <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a>{% if not loop.last %}, 
                  {% endif %}
                {% endfor %}
              {% endif %}
              {% if page.authors %}
              by 
                {%- for author in page.authors %}
                  {%- set parts = author | split(pat=" ") %}
                  {%- set first_name = parts[0] | lower %}
                  {%- set last_name = parts[1] | lower %}
                  <a href="/members/{{ first_name }}-{{ last_name }}">{{ author }}</a>{%- if not loop.last %}, {% endif %}
                {%- endfor %}</p>
              {% endif %}
            {% endif %}
        </header>

      {{ page.content | safe }}
    </article>

    {% if page.extra.feature_photo != "" %}
    <figure>
        <img src="{{ get_url(path=page.extra.feature_photo) }}" alt="{{ page.extra.feature_photo_alt }}" class="feature" />
    </figure>
    {% endif %}
  </section>
</main>

<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/limeleaf/30min', text: '🗓️ Schedule a call with us', color: '#1C7258', textColor: '#ffffff', branding: undefined }); }</script>

<!-- Calendly badge widget end -->

{% endblock content %}
