{% extends "base.html" %}

{% block title%}
  {{ page.title}} - {{ config.title }}
{% endblock title %}

{% block content %}
<main class="container">
  <section class="grid">
    <article>
        <hgroup>
            <h2>{{ page.title }}</h2>
            {% if page.extra.tagline %}
            <p>{{ page.extra.tagline }}</p>
            {% endif %}
        </hgroup>

      {{ page.content | safe }}
    </article>

    {% if page.extra.feature_photo != "" %}
    <figure>
        <img src="{{ get_url(path=page.extra.feature_photo) }}" class="feature" />
    </figure>
    {% endif %}
  </section>
</main>
{% endblock content %}
