{% extends "base.html" %}

{% block meta_content %}
  <title>{{ section.title}} - {{ config.title }}</title>
  <meta property="og:title" content="{{ section.title }} - {{ config.title }}" />
  <meta property="og:url" content="https://limeleaf.io" />
  <meta property="og:image" content="https://limeleaf.io/images/logo/limeleaf-logo.jpg" />
  <meta property=”og:type” content=”website” />
  {% if section.description %}
  <meta name="description" content="{{ section.description }}" />
  <meta property="og:description" content="{{ section.description }}" />
  {% endif %}
{% endblock meta_content %}

{% block content %}
<main>
  <section class="hero">
    <img src="{{ get_url(path=section.extra.feature_photo) }}" alt="{{ section.extra.feature_photo_alt }}" class="hero-bg" />
    <div class="hero-content">
      <h2>{{ section.title }}</h2>
      {{ section.content | safe }}
    </div>
  </section>

  {% if current_path == "/members/" %}
    <section class="container members">
      <div class="grid">
        {% for page in section.pages %}
        <article>
          <header>
            <a href="{{ page.permalink }}"><img src="{{ get_url(path=page.extra.feature_photo) }}" alt="{{ page.extra.feature_photo_alt }}" class="feature" /></a>
            <h3><a href="{{ page.permalink }}" title="{{ page.title }}">{{ page.title }}</a></h3>
          </header>
          {{ page.summary | safe }}
        </article>
        {% endfor %}
      </div>
    </section>
  {% elif current_path == "/services/" %}
    <section class="container services">
      <div class="grid">
        {% for page in section.pages %}
        <article>
            <a href="{{ page.permalink }}"><img src="{{ get_url(path=page.extra.feature_photo) }}" alt="{{ page.extra.feature_photo_alt }}" class="feature" /></a>
            <h5><a href="{{ page.permalink }}" title="{{ page.title }}">{{ page.title }}</a></h5>
            {{ page.summary | safe }}
        </article>
        {% endfor %}
        <div>
          <h2>Ready to Connect?</h2>
          <p>Contact us to schedule a free project assessment.</p>
          <a role="button" href="{{ get_url(path="@/contact/_index.md") }}" title="Hire Us">Contact</a>
        </div>
      </div>
    </section>
    {% elif current_path == "/expertise/" %}
    <section class="container expertise">
      <div class="grid">
        {% for page in section.pages %}
        <article>
            <a href="{{ page.permalink }}"><img src="{{ get_url(path=page.extra.feature_photo) }}" alt="{{ page.extra.feature_photo_alt }}" class="feature" /></a>
            <h5><a href="{{ page.permalink }}" title="{{ page.title }}">{{ page.title }}</a></h5>
            {{ page.summary | safe }}
        </article>
        {% endfor %}
        <div>
          <h2>Ready to Connect?</h2>
          <p>Contact us to schedule a free project assessment.</p>
          <a role="button" href="{{ get_url(path="@/contact/_index.md") }}" title="Hire Us">Contact</a>
        </div>
      </div>
    </section>
  {% elif current_path == "/blog/" %}
    <section class="container">
      {% for post in section.pages %}
      <article>
        <header>
          <h4><a href="{{ post.permalink }}" title="{{ post.title }}">{{ post.title }}</a></h4>
          <time>{{ post.date | date(format="%B %e, %Y")}}</time>
        </header>
        {{ post.summary | safe }}
        <footer><a href="{{ post.permalink }}" title="{{ post.title }}">Continue Reading</a></footer>
      </article>
      {% endfor %}
    </section>
  {% endif %}
</main>
{% endblock content %}

