{% extends "base.html" %}

{% block title%}
  {{ section.title}} - {{ config.title }}
{% endblock title %}

{% block content %}
<main class="container">
  <section class="grid">
    <div>
      <h1>{{ section.title }}</h1>
      {{ section.content | safe }}
    </div>

    {% if section.extra.feature_photo != "" %}
    <figure>
        <img src="{{ get_url(path=section.extra.feature_photo) }}" alt="{{ section.extra.feature_photo_alt }}" />
    </figure>
    {% endif %}
  </section>

  {% if current_path == "/members/" %}
    <section class="members">
      <div class="grid">
        {% for page in section.pages %}
        <article>
          <header>
            <a href="{{ page.permalink }}"><img src="{{ get_url(path=page.extra.feature_photo) }}" alt="{{ page.extra.feature_photo_alt }}" class="feature" /></a>
            <h3><a href="{{ page.permalink }}" title="{{ page.title }}">{{ page.title }}</a></h3>
          </header>
          {{ page.summary | safe }}
        </article>
        {% endfor %}
      </div>
    </section>
  {% elif current_path == "/services/" %}
    <section class="services">
      <div class="grid">
        {% for page in section.pages %}
        <article>
            <a href="{{ page.permalink }}"><img src="{{ get_url(path=page.extra.feature_photo) }}" alt="{{ page.extra.feature_photo_alt }}" class="feature" /></a>
            <h4><a href="{{ page.permalink }}" title="{{ page.title }}">{{ page.title }}</a></h4>
        </article>
        {% endfor %}
      </div>
    </section>
  {% elif current_path == "/blog/" %}
    <section>
      {% for post in section.pages %}
      <article>
        <header>
          <h4><a href="{{ post.permalink }}" title="{{ post.title }}">{{ post.title }}</a></h4>
          <p>
            Posted on <time>{{ post.date | date(format="%B %d, %Y") }}</time>
            {% if post.taxonomies.tags %}
              in
              {% for tag in post.taxonomies.tags %}
                <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a>&nbsp;
              {% endfor %}
            {% endif %}
          </p>
        </header>
        {{ post.summary | safe }}
        <footer><a href="{{ post.permalink }}" title="{{ post.title }}">Continue Reading</a></footer>
      </article>
      {% endfor %}
    </section>
  {% endif %}
</main>
{% endblock content %}
