{% extends "base.html" %}

{% block meta_content %}
  <title>{{ section.title}} - {{ config.title }}</title>
  <meta property="og:title" content="{{ section.title }} - {{ config.title }}" />
  <meta property="og:url" content="https://limeleaf.net" />
  <meta property="og:image" content="https://limeleaf.net/images/logo/limeleaf-logo.jpg" />
  <meta property=”og:type” content=”website” />
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="limeleaf.net">
  <meta property="twitter:url" content="https://limeleaf.net">
  <meta name="twitter:title" content="{{ section.title }} - {{ config.title }}">
  <meta name="twitter:image" content="https://limeleaf.net/images/logo/limeleaf-logo.jpg">
  {% if section.description %}
  <meta name="description" content="{{ section.description }}" />
  <meta property="og:description" content="{{ section.description }}" />
  <meta name="twitter:description" content="{{ section.description }}">
  {% endif %}
{% endblock meta_content %}

{% block title %}
  {% if current_path == "/contact/" %}
    Send us <a href="mailto:info@limeleaf.net">an email</a> or
    <a href="https://calendly.com/limeleaf/30min">schedule a call</a> for a free
    project assessment.
  {% else %}
    {{ section.title }}
  {% endif %}
{% endblock title%}

{% block content %}
<main>
  {% if current_path == "/blog/" %}
    <div class="container">
      {% for post in section.pages %}
      <section class="row">
        <article class="col-sm-12">
          <header>
            <h2><a href="{{ post.permalink }}" title="{{ post.title }}">{{ post.title }}</a></h2>
            <p>
              <time>{{ post.date | date(format="%B %d, %Y") }}</time>
              &bull;
              {% if post.taxonomies.tags %}
                {% for tag in post.taxonomies.tags %}
                  <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a>&nbsp;
                {% endfor %}
              {% endif %}
            </p>
          </header>
          {{ post.summary | safe }}
        </article>
      </section>
      {% endfor %}
    </div>
  {% elif current_path == "/expertise/" %}
    <div class="container">
      {% set areas = get_taxonomy(kind="areas") %}
      <section>
        <div class="row">
          {% for area in areas.items %}
            <div class="col-md-6">
              <div class="row">
                <div class="col-xs-12">
                  <h1>{{ area.name }}</h1>
                </div>
              </div>
              {% for page in area.pages %}
                <div class="row">
                  <div class="col-xs-12">
                    <h2>{{ page.summary | striptags }}</h2>
                    <p><a class="cta" href="{{ page.permalink }}">{{ page.title }}</a></p>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </section>
    </div>
  {% elif current_path == "/contact/" %}
  {% else %}
    {% for page in section.pages %}
      <div {% if loop.index % 2 == 0 %}class="light-section"{% endif %}>
      <div class="container">
        <section class="row">
          {% if page.extra.feature_photo != "" %}
            <div class="col-lg-3">
              <p><img src="{{ get_url(path=page.extra.feature_photo) }}" style="max-width: 100%; margin-top: 3rem; border-radius: 50%;" /></p>
            </div>
            <div class="col-lg-9">
          {% else %}
              <div class="col-lg-12">
          {% endif %}
            <h2>{{ page.summary | striptags }}</h2>
            <p><a class="cta" href="{{ page.permalink }}">{{ page.title }}</a></p>
          </div>
        </section>
      </div>
      </div>
    {% endfor %}
  {% endif %}
</main>
{% endblock content %}

